{% extends 'base.html' %}

{% block title %}Добавить клиента{% endblock %}

{% block body %}
    <h1>Добавление клиента</h1>

    <div class="form-container">
        <form method="post">
            <input type="text" name="name" id="name" class="form-control" placeholder="Введите имя клиента"><br>
            <input type="text" name="contact" id="contact" class="form-control" placeholder="Введите контакт клиента"><br>
            <input type="submit" class="btn btn-success" value="Добавить">
        </form>
    </div>
{% endblock %}

